<h1><%= t("title") %></h1>

<div class="challenge-row">
  <div class="description"><%= t('challenge1.text') %></div>
  <div class="challenge-form">
    <%= form_with(url: '/challenge1', method: 'post', multipart: true) do %>
      <%= file_field(:mass_file, :data) %>
      <%= submit_tag(t('calculate')) %>
    <% end %>
  </div>
  <div class="result">
    <%= @challenge1_result %>
  </div>
</div>
